<% include header %>
<div class="ui grid" style="height: 100%;">
    <div class="two wide column" style="height: 100%; background-color: #1b1c1d;">
        <% include navbar %>
    </div>
    <div class="thirteen wide centered column" style="margin-top: 30px;">
        <table class="ui very basic table">
            <thead>
            <tr>
                <th>名称</th>
                <th>国家</th>
                <th>分类</th>
                <th>上传时间</th>
                <th>封面</th>
                <th>视频</th>
                <th>评分</th>
                <th>时长</th>
                <th>描述</th>
            </tr>
            </thead>
            <tbody>
            <% videos.forEach(function (video) { %>
            <tr>
                <td><%= video.name %></td>
                <td><%= video.country %></td>
                <td><%= video.classify %></td>
                <td><%= video.release_time %></td>
                <td><img src="./images/<%= video.image %>" width="40" height="40" alt=""></td>
                <td>
                    <!--<video src="./images/<%= video.image %>" width="400" height="400" alt="">-->
                    <video width="120" height="120" controls>
                        <source src="./images/<%= video.video_path %>" type="video/mp4">
                        <!--<source src="movie.ogg" type="video/ogg">-->
                        Your browser does not support the video tag.
                    </video>
                </td>
                <td><%= video.star %></td>
                <td><%= video.duration %></td>
                <td><%= video.detail %></td>
                <td>
                    <a href="/edit/<%= video.id %>">
                        <button class="ui icon primary basic button" title="edit"><i class="edit icon"></i></button>
                    </a>
                    <button v-id="<%= video.id %>" class="ui icon negative basic button delete" title="delete"><i
                                v-id="<%= video.id %>" class="erase icon"></i></button>
                </td>
            </tr>

            <% }) %>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="10">
                    <% include pagination %>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<script>
  $('.ui.dropdown').dropdown()
  $(function () {
    $('.delete').click((e) => {
      $.ajax({
        url: `/delete/${e.target.getAttribute('v-id')}`,
        type: 'POST',
        success: function (res) {
          if (res.code === 200) {
            alert('删除成功')
          } else {
            alert('删除失败')
          }
          location.href = '/'
        }
      })
    })
  })
</script>
<% include footer %>